# run yesiscan on a remote host over ssh
# put this in your ~/.ssh/config
# then ssh yesiscan
# then run ./yesiscan web
# in your local webbrowser you can connect to http://localhost:8000
Host yesiscan
	Hostname <your hostname over there>
	User <your username>
	
	LocalForward 8000 localhost:8000
	GSSAPIAuthentication no
	RequestTTY yes
	RemoteCommand screen -xRR

